<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main h-screen bg-gray-500 w-full p-20">
        <h1 class="text-3xl text-white tracking-tighter"><%= arr[0].userr %></h1>
        <h1 class="text-3xl text-white tracking-tighter"><%= arr[0].data %></h1>
    </div>
</body>
</html>